avahi:
  bonjour-compatible: True
  include-python-wrappers: True
  dconf:
    server:
      browse-domains:  "0pointer.de, zeroconf.org"
      use-ipv4:  yes
      use-ipv6:  no
      ratelimit-interval-usec:  1000000
      ratelimit-burst: 1000
    wide-area:
      enable-wide-area: yes
    publish:
    reflector:
    rlimits:
      rlimit-core: 0
      rlimit-data: 4194304
      rlimit-fsize: 0
      rlimit-nofile: 768
      rlimit-stack: 4194304
      rlimit-nproc: 3
  hosts: []
  services:
    BoringService:
      type: _boring_service._tcp
      subtype:
      port: 5555
      service-vars:
        foo: 2
        bar: 1
    SuperCoolService:
      type: _super_cool_service._tcp
      subtype:
      port: 5556
      service-vars:
        foo: 5
        bar: 7
